/* Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.5;
    color:white;
    background-color:black;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}
@keyframes ex{
0%,100%{
    color:#fff;
    filter:blur(1px);
    text-shadow: 0 0 10px  #64ffda,
                 0 0 20px  #64ffda,
                 0 0 40px #64ffda,
                 0 0 80px #64ffda,
                 0 0 120px #64ffda,
                 0 0 200px #64ffda,
                 0 0 300px #64ffda,
                 0 0 400px #64ffda;
  } 5%, 95% {
    color: #111;
    text-shadow: none;
    filter: blur(0px);
}
}



/* Header Styles */

header {
    background-color: black;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    padding-bottom: 2%;
    z-index: 999;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin-left: 50px;
}
span{
    color:#64ffda;
}

header h1 {
    font-size: 32px;
    font-weight: bold;
    margin: 20px 0;
    animation-name: ex ;
    animation-duration: 20s;
    animation: ex 1s ease-in-out infinite alternate;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color:WHITE;
    font-weight: bold;
    transition: color 0.2s ease;
}

nav ul li a:hover {
    color: #8892b0;;
}

/* Hero Section Styles */

#hero {
    background-color: black;
    color: #fff;
    padding: 100px 0;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
#hero h1 {
    font-size: 48px;
    font-weight: bold;
    margin-left: 50px;
    white-space: nowrap;
    color:#ccd6f6;
    font-style:normal;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}


#hero h2 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 50px;
    position: absolute;
    white-space: nowrap;
    color:#8892b0;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
#about {
    background-color: black;
    color: #fff;
    padding: 100px 0;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin-left: 50px;
}
#about h2{
    color:#8892b0
}
#services {
    background-color: black;
    color: #fff;
    padding: 100px 0;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin-left: 50px;
    
}
#services h2{
    color:#8892b0
}
#portfolio {
    background-color: black;
    color: #fff;
    padding: 100px 0;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin-left: 50px;
}
#portfolio h2{
    color:#8892b0
}
img{
    margin-left: 50px;
}



@-webkit-keyframes rightThenLeft {
    0%   {left: 0%;}
    50%  {left: 100%;}
    100% {left: 0%;}
    
}

    



#hero p {
    font-size: 24px;
    margin-bottom: 20px;
    margin-left: 50px;
    color:#8892b0;
}
#hero h3 {
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 50px;
    color:#64ffda;
}

/* Sections Styles */

section {
    padding: 80px 0;
}

section h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  
    
}

section p {
    padding:0;
    margin-bottom: 0px;
}

section ul li {
    margin-bottom: 10px;
}

section ul li img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* Contact Form Styles */

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input,
form textarea {
    padding: 10px;
    border:#64ffda;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 16px;
}

form textarea {
    height: 200px;
}

form button {
    border-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.2s ease;
}

form button:hover {
    border-color: #0069d9;
    cursor: pointer;
}

/* Button Styles */

.btn {
    display: inline-block;
    background-color: black;
    color:#64ffda;
    border: 2px solid  black;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.2s ease;
    text-decoration: none;border-color: #64ffda;

}

.btn:hover {
    background-color: #64ffda;
    cursor: pointer;
}
